<div class="row" id="proBanner">
  <div class="col-12">
    <span class="align-items-center purchase-popup">
      <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
      <a href="https://www.bootstrapdash.com/product/purple-angular/?utm_source=organic&utm_medium=banner&utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button btn-purple ml-auto btn-primary">Upgrade To Pro</a>
      <i class="mdi mdi-close"  (click)="toggleProBanner($event)"  id="bannerClose"></i>
    </span>
  </div>
</div>
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview
        <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>





