<div class="container mt-5">
  <h2 class="text-center mb-4">Predict supplier classification </h2>

  <form [formGroup]="clusteringForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="CapitalSocial" class="form-label">Capital Social:</label>
      <input id="CapitalSocial" type="number" formControlName="CapitalSocial" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="ChiffreAffaires" class="form-label">Chiffre d'Affaires:</label>
      <input id="ChiffreAffaires" type="number" formControlName="ChiffreAffaires" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="ResultatNet" class="form-label">Résultat Net:</label>
      <input id="ResultatNet" type="number" formControlName="ResultatNet" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="RentabiliteFinanciere" class="form-label">Rentabilité Financière:</label>
      <input id="RentabiliteFinanciere" type="number" step="0.01" formControlName="RentabiliteFinanciere" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="FondRoulement" class="form-label">Fond de Roulement:</label>
      <input id="FondRoulement" type="number" formControlName="FondRoulement" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="EvolutionChiffreAffaires" class="form-label">Évolution Chiffre d'Affaires:</label>
      <input id="EvolutionChiffreAffaires" type="number" step="0.01" formControlName="EvolutionChiffreAffaires" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="TotalDettes" class="form-label">Total Dettes:</label>
      <input id="TotalDettes" type="number" formControlName="TotalDettes" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="Type" class="form-label">Type:</label>
      <select id="Type" formControlName="Type" class="form-select">
        <option value="Partenariat">Partenariat</option>
        <option value="Coopérative / Mutuelle">Coopérative / Mutuelle</option>
        <option value="Non disponible">Non disponible</option>
        <option value="Société commerciale">Société commerciale</option>
        <option value="Divers / non répertoriés ailleurs">Divers / non répertoriés ailleurs</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="Size" class="form-label">Size:</label>
      <select id="Size" formControlName="Size" class="form-select">
        <option value="Micro entreprise">Micro entreprise</option>
        <option value="Entreprise de taille moyenne">Entreprise de taille moyenne</option>
        <option value="Non disponible">Non disponible</option>
        <option value="Petite entreprise">Petite entreprise</option>
        <option value="Grande entreprise">Grande entreprise</option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="btn" style="background-color: rgba(139, 0, 0, 0.9); color: white;">
        Predict
      </button>
    </div>
  </form>
</div>
