.monoprix-navbar {
  height: 64px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 0 1.5rem;
  z-index: 1030;
  border-bottom: 1px solid var(--monoprix-light-grey);

  .navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--monoprix-red);
    letter-spacing: 0.5px;
    margin-left: 1rem;

    .app-name {
      font-family: var(--font-main);
      text-transform: uppercase;
    }
  }

  .monoprix-toggle {
    border: none;
    padding: 0.5rem;
    color: var(--monoprix-black);

    &:focus {
      box-shadow: none;
      outline: none;
    }

    .mdi-menu {
      font-size: 1.5rem;
    }
  }

  .logout-btn {
    color: var(--monoprix-anthracite);
    font-weight: 500;
    transition: all 0.2s;
    padding: 0.5rem 1rem;

    &:hover {
      color: var(--monoprix-red);

      .mdi-logout {
        color: var(--monoprix-red);
      }
    }

    .mdi-logout {
      font-size: 1.25rem;
      vertical-align: middle;
      margin-top: -3px;
    }
  }
}
