<nav class="navbar navbar-expand navbar-light bg-white fixed-top monoprix-navbar">
  <div class="container-fluid">
    <button class="navbar-toggler monoprix-toggle" type="button" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>

    <a class="navbar-brand d-none d-md-block" routerLink="/dashboard">
      <span class="app-name">Dashmarket</span>
    </a>

    <div class="navbar-nav ms-auto">
      <a class="nav-link logout-btn" routerLink="/login">
        <i class="mdi mdi-logout me-1"></i>
        <span class="d-none d-md-inline">Sign out </span>
      </a>
    </div>
  </div>
</nav>
